{% extends 'base.html' %} <!-- дублирует base.html -->
{% block title %}
Стартовая страница
{% endblock %}
{% block h1 %}Стартовая страница {% endblock %} 

{% block body %}  <!-- заголовок блока в base.html -->
<!-- li*x>loremy  x-колличество строк y-колличество слов в строке и нажать tab-->
<li>Lorem ipsum dolor sit amet.</li>
<li>Est laudantium sunt et ratione.</li>
<li>Deleniti fugit non omnis nesciunt?</li>
<li>Aspernatur eligendi qui maiores soluta.</li>
<li>Mollitia assumenda nobis blanditiis alias.</li>
<li>Ab laudantium fugiat cumque sunt.</li>
<li>Repudiandae unde debitis impedit placeat.</li>
<li>Atque pariatur ipsum inventore dolor.</li>
<li>Officiis blanditiis dolores distinctio aliquam.</li>
<li>Molestiae vitae dicta esse saepe?</li>
<li>Odio nulla consectetur laudantium natus.</li>
<li>Labore quis at sint corrupti.</li>
<li>Molestiae dolore tenetur molestias a!</li>
<li>Quos in voluptatem quisquam impedit?</li>
<li>Cupiditate, corrupti quibusdam? Mollitia, ipsum.</li>
<li>Iusto, obcaecati. Quam, quos consequuntur.</li>
<li>In iure numquam repellendus corporis.</li>
<li>Laboriosam minus magni fugit voluptate.</li>
<li>Ea laudantium impedit aliquam accusamus.</li>
<li>Voluptatem illo nulla autem sit.</li>
<li>Delectus natus illum placeat doloribus!</li>
<li>Corporis sequi delectus minima maxime.</li>
<li>Deserunt magnam minima blanditiis culpa?</li>
<li>Optio voluptas illo fugit! Temporibus.</li>
<li>Quo modi est laborum quibusdam.</li>
<li>Iusto incidunt unde reiciendis quod?</li>
<li>Repellat tempora consequatur voluptatibus optio.</li>
<li>Quae rem suscipit sapiente deleniti!</li>
<li>Debitis delectus dolor quisquam dolorum?</li>
<li>Rerum labore sequi blanditiis ipsam!</li>
<li>Doloribus corrupti qui autem harum.</li>
<li>Magni doloremque obcaecati architecto reprehenderit?</li>
<li>Natus minima consequatur necessitatibus nam!</li>
<li>Nobis iste illo ipsum voluptatibus.</li>
<li>A suscipit dignissimos repellat voluptatibus.</li>
<li>Nobis voluptatem laudantium alias deleniti.</li>
<li>Harum ea quaerat ipsum sequi?</li>
<li>In aliquam tempore possimus id.</li>
<li>Voluptates harum quos laudantium pariatur?</li>
<li>Sunt pariatur doloremque possimus ad?</li>
<li>Commodi facere tempore deleniti optio?</li>
<li>Fugiat blanditiis repudiandae quaerat itaque?</li>
<li>Culpa sed necessitatibus voluptatibus ducimus!</li>
<li>Atque sint dignissimos necessitatibus incidunt!</li>
<li>Sapiente reprehenderit ut recusandae corrupti?</li>
<li>Sint repellendus illo quibusdam deleniti.</li>
<li>Corrupti blanditiis modi adipisci incidunt.</li>
<li>Laudantium consectetur aperiam dicta nobis.</li>
<li>Illum ab culpa et sequi.</li>
<li>Placeat soluta ducimus ab illo!</li>
<li>Fuga quidem provident eveniet minima?</li>
<li>Quia enim in ut commodi.</li>
<li>Quam saepe reiciendis vel odio?</li>
<li>Perspiciatis asperiores officiis enim fugiat?</li>
<li>Iure sequi vitae minima tenetur?</li>
<li>Explicabo obcaecati provident recusandae exercitationem.</li>
<li>Odit temporibus ex maxime obcaecati.</li>
<li>Unde, adipisci corporis! Eligendi, quo.</li>
<li>Molestiae recusandae praesentium inventore dolor!</li>
<li>In quos hic sunt dolorum.</li>
<li>Minima beatae perferendis perspiciatis tempora.</li>
<li>Impedit eligendi perferendis veritatis quidem.</li>
<li>Dolores veritatis cupiditate officia libero.</li>
<li>Blanditiis fugit quibusdam fuga alias!</li>
<li>Quod ducimus quia consectetur fugiat!</li>
<li>Ad ullam exercitationem sunt culpa.</li>
<li>Suscipit aliquid dolorem placeat voluptatibus.</li>
<li>Dolorem fugiat minus explicabo cupiditate.</li>
<li>Vero adipisci sint veniam corporis?</li>
<li>A neque corporis soluta illo!</li>
{% endblock %}